name: Build LibUSB Manually Static Linked

on:
  workflow_dispatch:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [macos-14, macos-15, macos-26]
    runs-on: ${{ matrix.os }}
  
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job
      # can access it
      - uses: actions/checkout@v3
        with:
          repository: libusb/libusb
          ref: master
          path: ./

      - name: setup prerequisites
        shell: bash
        run: |
          brew update
          brew install autoconf automake libtool m4

      - name: configure
        shell: bash
        run: ./configure.ac --enable-static
        
      - name: compile
        shell: bash
        run: .private/ci-build.sh --build-dir build

      - name: Xcode
        shell: bash
        run: cd Xcode && xcodebuild -project libusb.xcodeproj

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: /Users/runner/work/usb4java-native-libraries/usb4java-native-libraries/Xcode/build/Release/libusb-1.0.0.dylib
